<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.talelin.latticy.mapper.MbaListingDateCalMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.github.talelin.latticy.model.MbaListingDateCalDo">
        <result column="code" property="code"/>
        <result column="is_new_shares" property="isNewShares"/>
        <result column="listing_day" property="listingDay"/>
        <result column="ipo_date" property="ipoDate"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete_time" property="deleteTime"/>
    </resultMap>

    <insert id="insertBatchListingDateCal" >
        insert into mba_listing_date_cal
        (`code`, `is_new_shares`,
        `listing_day`, `ipo_date`, `create_time`,
        `update_time`)
        values
        <foreach collection="list" separator=","  item="item" >
            (#{item.code},#{item.isNewShares},#{item.listingDay},#{item.ipoDate},now(),now())
        </foreach>
    </insert>



</mapper>